In [7]:
import pandas as pd
pd.set_option('display.max_column', 250)
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-notebook')
from matplotlib import rcParams

rcParams['figure.figsize'] = (10, 5)
rcParams['figure.dpi'] = 150

In [9]:
import arff
data = arff.load(open('../data/poker-lsn.arff'))
cnames = [i[0] for i in data['attributes']]
df = pd.DataFrame(data['data'], columns=cnames)
df.head()

  s1   r1 s2    r2 s3    r3 s4    r4 s5    r5 class
0  1  1.0  1  10.0  1  11.0  1  12.0  2  13.0     4
1  1  1.0  1  10.0  1  11.0  1  12.0  4  13.0     4
2  1  1.0  1  10.0  1  11.0  2  11.0  1  12.0     1
3  1  1.0  1  10.0  1  11.0  2  11.0  1  13.0     1
4  1  1.0  1  10.0  1  11.0  2  11.0  2  12.0     1

In [12]:
df = df.apply(pd.to_numeric)

In [15]:
df.describe()[['r1', 'r2', 'r3', 'r4', 'r5']]

,r1,r2,r3,r4,r5
count,829201.000000,829201.000000,829201.000000,829201.000000,829201.000000
mean,2.613158,4.788464,6.999647,9.210980,11.385761
std,1.743564,2.241866,2.374740,2.241713,1.741114
min,1.000000,1.000000,1.000000,1.000000,2.000000
25%,1.000000,3.000000,5.000000,8.000000,10.000000
50%,2.000000,5.000000,7.000000,9.000000,12.000000
75%,4.000000,6.000000,9.000000,11.000000,13.000000
max,12.000000,13.000000,13.000000,13.000000,13.000000

In [16]:
df.groupby('class')['class'].count()

class
0    415526
1    350426
2     39432
3     17541
4      3225
5      1657
6      1186
7       195
8        11
9         2
Name: class, dtype: int64

In [6]:
len(df.columns)

11