In [55]:
import pandas as pd
pd.set_option('display.max_column', 250)
import numpy as np

In [57]:
import arff
data = arff.load(open('../data/poker-lsn.arff'))
cnames = [i[0] for i in data['attributes']]
df = pd.DataFrame(data['data'], columns=cnames)
df.head()

  s1   r1 s2    r2 s3    r3 s4    r4 s5    r5 class
0  1  1.0  1  10.0  1  11.0  1  12.0  2  13.0     4
1  1  1.0  1  10.0  1  11.0  1  12.0  4  13.0     4
2  1  1.0  1  10.0  1  11.0  2  11.0  1  12.0     1
3  1  1.0  1  10.0  1  11.0  2  11.0  1  13.0     1
4  1  1.0  1  10.0  1  11.0  2  11.0  2  12.0     1

In [58]:
df = pd.get_dummies(df.iloc[:,1:-1]).join(df['class'])

In [59]:
df.head()

,r1,r2,r3,r4,r5,s2_1,s2_2,s2_3,s2_4,s3_1,s3_2,s3_3,s3_4,s4_1,s4_2,s4_3,s4_4,s5_1,s5_2,s5_3,s5_4,class
0,1.0,10.0,11.0,12.0,13.0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,4
1,1.0,10.0,11.0,12.0,13.0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,4
2,1.0,10.0,11.0,11.0,12.0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
3,1.0,10.0,11.0,11.0,13.0,1,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1
4,1.0,10.0,11.0,11.0,12.0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,1

In [60]:
df.to_csv('poker_onehot.csv')